<div class="overshadow" (click)="closeEdit()">

</div>

<div class="edit-area">


  <div class="close-btn" (click)="closeEdit()"><i class="fas fa-times"></i></div>

  <div class="scroll-inside">

    <div class="container-fluid">

      <div class="row">
        <div class="col-md-12">

          <form [formGroup]="partnerForm" (submit)="saveData()">

            <div class="row">
              <div class="col-md-6">
                <img [src]="apiUrl+partner.image" class="img-fluid" *ngIf="!croppedImage && partner.image">
                <img [src]="croppedImage" class="img-fluid" *ngIf="croppedImage">
                <div>
                  <button type="button" class="btn btn-warning" (click)="openEdit()">
                    <i class="fas fa-image"></i>
                  </button>
                  <button type="button" class="btn btn-success" (click)="backBasePhoto()">
                    <i class="fas fa-redo"></i>
                  </button>
                </div>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Link" formControlName="link">
                </mat-form-field>
              </div>
            </div>


            <div class="row">
              <div class="col-md-12">
                <hr>
              </div>
            </div>



            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-primary btn-save btn-lg">
                  Zapisz
                </button>
              </div>
            </div>


          </form>

        </div>
      </div>

    </div>

  </div>

</div>
<ng-template #imagePopup></ng-template>
