section.content-event(class="event-"+event.eventType)
    .container-one
        .row
            .left-col
                include ./small-event-gallery.pug

            .right-col
                .event-title
                    h2 #{event.name}