#facebookMyBox.facebook-bookmark(class="close")
    .fb-btn
        .bt-f
            i(class="fab fa-facebook-square")
    .fb-content    
        iframe(src='https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FWirturek%2F&tabs=timeline&width=370&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId' width='370' height='500' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowtransparency='true' allow='encrypted-media')