if(homeArticle)
    section.home-article.gray-wave-middle
        .container-one
            .row
                .left-col
                    .image-cnt
                        img(src=homeArticle.image class="img-fluid")
                .right-col
                    .inside-padding
                        h2.title-art #{homeArticle.title}
                        .intro-content
                            | #{homeArticle.smallDesc}
                        .more-beam
                            if(homeArticle.category)
                                a(href='/'+homeArticle.category.alias+'/'+homeArticle.alias class="arrow-btn green-btn") więcej
                            else
                                a(href='/'+homeArticle.alias class="arrow-btn green-btn") więcej   

