section.boxes-home.white-wave-bottom.padding-32
    .container-one
        .row
            each bx in boxes
                .col-box
                    h2.title-bx(style="color:#"+bx.color) #{bx.title}
                    .image-bx-el
                        img(src=bx.image class="img-fluid" style="box-shadow:20px 70px 0 #"+bx.color)
                    .more-btn
                        a(href=bx.selfLink target=bx.target) więcej
        