section.map-attraction-section.gray-wave-bottom.line-sec.green
    .container-one.header-cnt
        .row
            .col
                h2 
                    i(class="fas fa-map-marker-alt")
                    |
                    | Mapa atrakcji
    .container-one
        .row-grid
            .col.item1
                a(href="/warto-zobaczyc")
            .col.item2
                a(href="/warto-zobaczyc")
            .col.item3
                a(href="/warto-zobaczyc")
            .col.item4
                a(href="/warto-zobaczyc")
            .col.item5
                a(href="/warto-zobaczyc")