script(src='/ngcform/runtime-es2015.js' type='module')
script(src='/ngcform/polyfills-es2015.js' type='module')
script(src='/ngcform/runtime-es5.js' nomodule='')
script(src='/ngcform/polyfills-es5.js' nomodule='')
script(src='/ngcform/styles-es2015.js' type='module')
script(src='/ngcform/styles-es5.js' nomodule='')
script(src='/ngcform/vendor-es2015.js' type='module')
script(src='/ngcform/main-es2015.js' type='module')
script(src='/ngcform/vendor-es5.js' nomodule='')
script(src='/ngcform/main-es5.js' nomodule='')
