script(src='/js/jquery-3.3.1.min.js')
script(src="/js/photoswipe.min.js")
script(src="/js/photoswipe-ui-default.min.js")
script(src="/js/gallery.js")
script(src='/js/lazy-images.js')
script(src='/angular/angular.min.js')
script(src='/angular/angular-cookies.min.js')
script(src='/js/angular-scroll.min.js')
script(src="/angular/angular-touch.min.js")
script(src="/js/facebook-box.js")
script(src=controller)
