include ../mixins.pug
doctype html
html()
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='icon' type='image/x-icon' href='/favicon.ico')
    base(href=path)
    title Wirtur
    include ../partials/styles.pug
  body()
    include ../partials/menu.pug
    block header
    block content
    block footer
