extends ../layouts/layout.pug

block header
    include ../partials/event-banner.pug
    include ../partials/submenu.pug
    
block content
    include ../partials/event-content.pug
    

block footer
    include ../partials/contact-section.pug
    include ../partials/pswp.pug