extends ../layouts/layout.pug

block header
    include ../partials/banner-question.pug
    include ../partials/submenu.pug
    
block content
    -var regDesc = widgets.fcontact.data.regDesc.replace(/(\r\n|\n|\r)/gm, ""); 
    script.
        var regDesc = "!{regDesc}"
    .double-container.form-view
        .row
            .col-left-double
                .container
                    .row
                        .col-desc
                            | !{widgets.fcontact.data.topDesc}
                        .col-form
                            app-root

            .col-right-double
                .right-content-db
                    include ../partials/partners.pug

block footer
    include ../partials/contact-section.pug
    include ../partials/pswp.pug
    include ../partials/ngcform-scripts.pug

