<nav class="menu">
  <div class="container-menu">
    <div class="row">
      <div class="col-left-menu" [innerHtml]="menu[0]">
      </div>
      <div class="col-center-logo">
        <h1><a [href]="apiUrl+'/'"><img class="img-fluid" [src]="apiUrl+'/img/logo-shadow.png'"></a></h1>
      </div>
      <div class="col-right-menu" [innerHtml]="menu[1]">
      </div>
    </div>
  </div>
  <div class="search-icon-link"><a [href]="apiUrl+'/wyszukiwanie'"><img [src]="apiUrl+'/img/search-icon.svg'"
        alt=""></a></div>
</nav>
<nav class="menu-mobile">
  <div class="container-menu">
    <div class="row">
      <div class="col-logo">
        <h1><a href="/"><img class="img-fluid" [src]="apiUrl+'/img/logo-shadow.png'" /></a></h1>
      </div>
      <div class="col-menu">
        <div class="burger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div><a href="#" (click)="showHideMenu($event)"></a>
        </div>
        <div class="search-link"><a href="/wyszukiwanie"><img [src]="apiUrl+'/img/search-icon.svg'" alt=""></a></div>
      </div>
    </div>
  </div>
  <div class="menu-mobile-view" [ngClass]="{'hide-mobile-menu': !isOpenMbMenu}">
    <div [innerHtml]="menu[0]">
    </div>
    <div [innerHtml]="menu[1]">
    </div>
  </div>
</nav>
<header class="search-banner page-h" #mainBanner id="mainBanner">
  <div class="image-bg"></div>
  <div class="title-txt" *ngIf="catalog">
    <h2>Wyszukiwanie - {{catalog.name}}</h2>
  </div>
  <div class="title-txt" *ngIf="!catalog">
    <h2>Wyszukiwanie</h2>
  </div>
  <div class="shadow-bg">

  </div>
</header>
<nav class="submenu">
  <div class="container-one">
    <div class="row">
      <span [innerHtml]="menu[2]"></span>
      <ul class="social">
        <li>
          <a href="https://www.facebook.com/Wirturek/" target="_blank">
            <i class="fab fa-facebook-square"></i>
          </a>

        </li>
      </ul>


    </div>
  </div>
</nav>