extends layouts/layout-404.pug

block header

block content
    section.fof
        .container-one
            .row
                .col
                    .four-zero-four
                        h2 404
    
block footer