doctype html
head
  meta(charset='utf-8')
  title Ngadmin
  base(href='/admin')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='icon' type='image/x-icon' href='favicon.ico')
  link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  link(href='/css/all.css' rel='stylesheet')
app-root
script(src='/ngadmin/runtime-es2015.js' type='module')
script(src='/ngadmin/runtime-es5.js' nomodule='' defer='')
script(src='/ngadmin/polyfills-es5.js' nomodule='' defer='')
script(src='/ngadmin/polyfills-es2015.js' type='module')
script(src='/ngadmin/styles-es2015.js' type='module')
script(src='/ngadmin/styles-es5.js' nomodule='' defer='')
script(src='/ngadmin/scripts.js' defer='')
script(src='/ngadmin/vendor-es2015.js' type='module')
script(src='/ngadmin/vendor-es5.js' nomodule='' defer='')
script(src='/ngadmin/main-es2015.js' type='module')
script(src='/ngadmin/main-es5.js' nomodule='' defer='')
