<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-primary btn-lg" (click)="addAttachment()">
      Dodaj <i class="fas fa-plus"></i>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="grid-a" id="sortAttachs">
      <div class="col-a" *ngFor="let a of attachments">
        <app-attachment-row [attachment]="a" (editStart)="openEdit($event)" (deleteStart)="startDelete($event)">
        </app-attachment-row>
      </div>
    </div>
  </div>
</div>
<ng-template #editTemp></ng-template>
<ng-template #remove></ng-template>
