<div class="row">
  <div class="col-md-12">
    <div class="filter-edit-cnt">
      <div class="beam-control">
        <div class="name-filter">
          <span class="badge badge-danger">
            ID:{{city.id}}
          </span>
          {{city.name}}
        </div>
        <div class="btns">
          <button type="button" class="btn btn-primary" (click)="editCity()">
            <i class="fas fa-edit"></i>
          </button>
          <button type="button" class="btn btn-danger" (click)="beforeDeleteCity(city)">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-success" (click)="hideShowAttraction()">
            <i class="fas fa-angle-right" *ngIf="hideCities"></i>
            <i class="fas fa-angle-down" *ngIf="!hideCities"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="row" [ngClass]="{'hidden-row': hideAttractions}">
      <div class="col-md-11 offset-md-1">
        <div class="add-filter-title-cnt">
          <h5 class="geo-title"><i class="fas fa-dice-d6"></i> Atrakcje miasta</h5>
          <button type="button" class="btn btn-primary" (click)="addAttraction()">
            <i class="fas fa-plus"></i>
          </button>
        </div>
        <app-attraction-row *ngFor="let a of city.attractions; let i=index" [attraction]="a" [region]="region"
          [city]="city"></app-attraction-row>
      </div>
    </div>
  </div>
</div>
<ng-template #editAdd></ng-template>
<ng-template #confirm></ng-template>
