<div class="row">
  <div class="col-md-4 bt-section">
    <i class="fas fa-link"></i>
    <h2>Linki</h2>
    <a class="nav-link" [routerLink]="['/panel/links']"></a>
  </div>
  <div class="col-md-4 bt-section">
    <i class="fas fa-bars"></i>
    <h2>Menu</h2>
    <a class="nav-link" [routerLink]="['/panel/links/menus']"></a>
  </div>
  <div class="col-md-4 bt-section">
    <i class="fas fa-map-marker-alt"></i>
    <h2>Filtry geograficzne</h2>
    <a class="nav-link" [routerLink]="['/panel/filters/geo']"></a>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-4 bt-section">
    <i class="fas fa-cubes"></i>
    <h2>Filtry tematyczne/wieku/dni</h2>
    <a class="nav-link" [routerLink]="['/panel/filters/others']"></a>
  </div>
  <div class="col-md-4 bt-section">
    <i class="fas fa-calendar-alt"></i>
    <h2>Katalogi</h2>
    <a class="nav-link" [routerLink]="['/panel/events-catalog']"></a>
  </div>
  <div class="col-md-4 bt-section">
    <i class="fas fa-envelope"></i>
    <h2>Dokumenty formularza</h2>
    <a class="nav-link" [routerLink]="['/panel/form-documents']"></a>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-4 bt-section">
    <i class="fas fa-cubes"></i>
    <h2>Artykuły</h2>
    <a class="nav-link" [routerLink]="['/panel/articles']"></a>
  </div>
</div>
