<div class="row">
  <div class="col-md-12">
    <img [src]="apiUrl+image" class="img-fluid" *ngIf="!croppedImage && image">
    <img [src]="croppedImage" class="img-fluid" *ngIf="croppedImage">
    <div>
      <button type="button" class="btn btn-warning" (click)="openEdit()">
        <i class="fas fa-image"></i>
      </button>
      <button type="button" class="btn btn-success" (click)="backBasePhoto()">
        <i class="fas fa-redo"></i>
      </button>
    </div>

  </div>
</div>
<ng-template #imagePopup></ng-template>
