<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-primary btn-lg" (click)="addPartner()">
      Dodaj <i class="fas fa-plus"></i>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="grid-p" id="sortP">
      <div class="col-p" *ngFor="let p of partners">
        <app-partner-row [partner]="p" (editStart)="openEdit($event)" (deleteStart)="startDelete($event)">
        </app-partner-row>
      </div>
    </div>
  </div>

</div>
<ng-template #editTemp></ng-template>
<ng-template #remove></ng-template>
