extends ../layouts/layout.pug

block header
    include ../partials/banner-contact.pug
    include ../partials/submenu.pug
    
block content

    

block footer
    include ../partials/contact-section.pug