<div class="row">
  <div class="col-md-2">
    {{doc.number}}
  </div>
  <div class="col-md-2">
    <a [href]="apiUrl+'/api/file/'+doc.tokenUrl+'/zalacznik'+doc.id+'_'+uplaodDateString" target="_blank"
      mat-raised-button color="primary" *ngIf="doc.type!='question'">
      <i class="fas fa-download"></i> {{doc.suffix}}
    </a>
  </div>
  <div class="col-md-2">
    {{doc.type}}
  </div>
  <div class="col-md-2">
    {{uplaodDateString}}
  </div>
  <div class="col-md-2">
    <button type="button" mat-raised-button color="primary" (click)="showNotice()" *ngIf="!noticeOpen">
      <i class="fas fa-envelope"></i>
    </button>
    <button type="button" mat-raised-button color="primary" (click)="hideNotice()" *ngIf="noticeOpen">
      <i class="fas fa-envelope-open-text"></i>
    </button>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-danger">
      <i class="far fa-trash-alt"></i>
    </button>
  </div>
</div>
<hr>
<ng-template #infoTemp></ng-template>
