doctype html
head
  meta(charset='utf-8')
  title Serversiderendering
  base(href='/wyszukiwanie')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='icon' type='image/x-icon' href='favicon.ico')
  include ../partials/styles.pug
  link(rel='stylesheet' href='browser/styles.bfa904a6d47fe1644b9c.css')
  body
    //- include ../partials/menu.pug
    //- include ../partials/search-banner.pug
    
    app-root
    script(type='text/javascript' src='browser/runtime.26209474bfa8dc87a77c.js')
    script(type='text/javascript' src='browser/polyfills.48bb959446ebf821b4c3.js')
    script(type='text/javascript' src='browser/main.592b951e665605f81d2d.js')

