<div class="overshadow" (click)="closeEdit()">

</div>

<div class="edit-area">


  <div class="close-btn" (click)="closeEdit()"><i class="fas fa-times"></i></div>

  <div class="scroll-inside">

    <div class="container-fluid">

      <div class="row">
        <div class="col-md-12">


          <form [formGroup]="formEdit" (submit)="saveData()">

            <div class="container-fluid">

              <div class="row">
                <div class="col-md-6">
                  <img [src]="apiUrl+widget.data.image.image" class="img-fluid"
                    *ngIf="!croppedImage && widget.data.image">
                  <img [src]="croppedImage" class="img-fluid" *ngIf="croppedImage">
                  <div>
                    <button type="button" class="btn btn-warning" (click)="openEdit()">
                      <i class="fas fa-image"></i>
                    </button>
                    <button type="button" class="btn btn-success" (click)="backBasePhoto()">
                      <i class="fas fa-redo"></i>
                    </button>
                  </div>
                </div>

              </div>

              <button class="btn btn-success btn-lg btn-save">Zapisz</button>
            </div>
          </form>

        </div>
      </div>

    </div>

  </div>

</div>
<ng-template #imagePopup></ng-template>
